$primary-color: #ECC214;
$secondary-color: #ffffff;

$main-text-color: #ffffff;
$sub-text-color: #6ea8fb;
$text-black: #000;

$font-size: 16px;
$sub-font-size: 12px;
$font-size-title: 28px;

:export {
  main-text-color: $main-text-color;
}