@import "./tailwind.css";
@import "_variables.scss";
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:$font-size;
  color: $main-text-color;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: #20222b;
  background-position: top;
  overflow-x: hidden;
}

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
}
